* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (max-width: 400px) {
  .wrap_for_inputandbutton {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .page1 .cont1 {
    display: none;
  }
  .cont2 {
    min-width: 100%;
  }
  .cont2 h1 {
    font-size: 10vw;
  }
  .icon {
    font-size: 3.5vw;
    padding: 0;
    margin: 0;
  }
  .navelem button {
    padding-left: 4px;
    padding-right: 4px;
  }
  .navelem {
    display: none;
  }
}

@media (max-width: 750px) {
  input {
    width: 80vw;
  }
  .cont {
    flex-direction: column;
    /* width: 100vw; */
  }
  .wrap_for_inputandbutton {
    min-width: 100%;
  }
  .wrap_for_template {
    min-width: 100%;
  }
}
@media (width>750px) {
  input {
    width: 30vw;
  }
}

@media (max-width: 800px) {
  .tempcont {
    flex-direction: column;
  }
  .tempcont .box {
    width: 70%;
    /* height: 60%; */
  }
}
