* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (max-width: 650px) {
  .page1 .cont1 {
    display: none;
  }
  .cont2 {
    min-width: 100%;
  }
  .cont2 h1 {
    font-size: 10vw;
  }
  .icon {
    font-size: 3.5vw;
    padding: 0;
    margin: 0;
  }
  .navelem button {
    padding-left: 4px;
    padding-right: 4px;
  }
  .navelem {
    display: none;
  }
}

@media (max-width: 800px) {
}

@media (max-width: 1250px) {
  .tempcont {
    display: block;
  }
  .tempcont div {
    min-height: 30vh;
    width: 40%;
    /* margin: 2rem; */
    /* margin-left: 28%; */
  }
  .tempmain {
    min-height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .extratempfont {
    font-size: 3vw;
  }
  .selectclass {
    top: -7%;
    width: 100%;
  }
  .cont {
    flex-direction: column;
  }
  .wrap_for_inputandbutton {
    min-width: 100%;
  }
  .wrap_for_template {
    min-width: 100%;
  }
}
